
# object files
*.o

# generated sources
src/schema/lexer.c
src/schema/parser.c
src/schema/parser.h
src/schema/parser.output

*.schema
.*.schema.dump

TODO

# built programs
presleybench

# build system fragments
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.h.in~
config.log
config.status
configure
scripts/
stamp-h1
.dirstamp
.deps/
